<footer>
   <div class=" footer">
    <div class="privacy">
        <a href="/about">&copy; 2024 Wanderlust,Inc.</a>
        <a href="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="social-links">
       <a href="https://www.facebook.com/elitehavens" target="_blank"><i class="fa-brands fa-square-facebook "></i></a>
       <a href="https://x.com/TajHotels?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa-brands fa-square-twitter "></i></a>
       <a href="https://www.instagram.com/hotels/" target="_blank"><i class="fa-brands fa-square-instagram "></i></a>
    </div>
   </div>
</footer>