body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background:rgb(206, 20, 20);
    color: #fff;
    padding: .5rem;
}
header h1 {
    margin: 0;
}
main {
    padding: .5rem;
}

h2 {
    color:rgb(206, 20, 20);
}

h3 {
    margin-top: 1rem;
    color: rgb(206, 20, 20);
}

footer {
    background: rgb(206, 20, 20);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}
