body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

h1 {
  color: rgb(206, 20, 20);
}
/* navbar style */
.navbar {
  height: 5rem;
  background-color: white;
}
.search {
  width: 40vw;
  border: 1px solid rgb(206, 20, 20);
}
.navbar-brand:hover {
  color: rgb(255, 2, 2);
}
.nav-link:hover {
  color: rgb(255, 2, 2);
}
/* footer style */
.footer {
  height: 3.1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.privacy {
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}
.privacy a {
  text-decoration: none;
  color: #696767;
}
.privacy a:hover {
  text-decoration: underline;
  color: #db1a1a;
}
.social-links {
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}
.social-links a i {
  font-size: 1.5rem;
  color: #636262;
}
.social-links a i:hover {
  font-size: 1.6rem;
  color: #ec2323;
}
/* card styling */
.card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.listing-card {
  height: 50vh;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border: none;
}
.listing-card:hover {
  border: 1px solid rgb(206, 20, 20);
}
.card-title {
  font-weight: 600;
}
.icon {
  display: inline-block; /* Needed for transform to work properly */
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  color: rgb(206, 20, 20) !important;
  transform: scale(1.1);
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
.link {
  text-decoration: none;
}
.card-show-image {
  object-fit: cover;
  height: 50vh;
  width: 100%;
}
.show-image {
  border-bottom: 4px solid #f8f9fa;
  transition: transform 0.3s ease-in-out;
}

.show-image:hover {
  transform: scale(1.02);
}

.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
/* style for map */
#map {
  height: 300px;
  width: 50vw;
}
.filter {
  opacity: 0.75;
}
.filter:hover {
  cursor: pointer;
  opacity: 1;
}
@media (max-width: 574px) {
  .search {
    width: 75vw;
  }
  .list {
    margin-left: 2.7rem;
  }
  .footer {
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social-links {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .filter {
    width: 100%;
  }
  .privacy {
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .card-show-image {
    object-fit: cover;
    height: 30vh;
    width: 100%;
  }
  .listing-card {
    height: 40vh;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: none;
  }
}
@media (max-width: 769px) {
  .search {
    width: 70vw;
  }
}

@media (min-height: 600px) {
  .listing-card {
    height: 40vh;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: none;
  }
}
