<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
    <h1>Create a new listing</h1>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
        <input type="text" id="title" name="title" class="form-control" required>
        <div class="valid-feedback">
           Title looks good!
          </div>
          <div class="invalid-feedback">Title should be valid</div>
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea id="description" name="description" class="form-control" required></textarea>
        <div class="invalid-feedback">Description should be under 30 letters</div>
        </div>
        <div class="mb-3">
         <label for="image" class="form-label"> Upload Image:</label>
         <input type="file" id="image" name="listingImage" class="form-control" required>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price:</label>
            <input  type="number" id="price" name="price"  class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country:</label>
            <input type="text" id="country" name="country"  class="form-control" required>
            <div class="invalid-feedback">Country should be valid</div>
            </div>
        </div>
       <div class="row">
        <div class="mb-3 col-md-8 ">
            <label for="location" class="form-label">Location:</label>
           <input type="text" id="location" name="location"  required class="form-control">
           <div class="invalid-feedback">Location should be valid</div>
           </div>
           <div class="mb-3 col-md-4 ">
            <label for="category" class="form-label">Category:</label>
            <select id="category" name="category" required class="form-select">
                <option selected>Select Category</option>
                <option value="Trending">Trending</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing Pools">Amazing Pools</option>
                <option value="Artics">Artics</option>
                <option value="Island">Island</option>
            </select>
           <div class="invalid-feedback">Category should be valid</div>
           </div>
       </div>
        <button class=" btn btn-danger">Add Listing</button>
    </form>
</div>
</div>